/* src/index.css */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
}

.navbar {
  margin-bottom: 20px;
}

.auth-wrapper {
  max-width: 400px;
  width: 100%;
}

.login-bg {
  background-color: #f0f2f5;
}
